*{/*muda as cofigurações padrões do html para zero*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: 1em sans-serif ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;/*tamanho da tela toda*/
    background-color: #27272a;
    color: #e2e8f0;
    opacity: 90%;
}
.card{
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 1px solid gray;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 1%;
    align-items: center;
    gap: 5px;
}
.border{
    border-bottom: 1px solid gray;
    width: 100%;
    text-align: center;
}
input{/*muda cor dos inputs*/
    background-color: rgb(226, 232, 240, 0.05);
    color: #e2e8f0;
    border-radius: 7px;
    text-align: center;
}
a{
    text-decoration: none;
    color: inherit;
}
.conectar_cadastro{
    border: 1px solid #e2e8f0;
    border-radius: 7px;
    padding: 0 2%;
}
.conectar_cadastro:hover{
    opacity: 70%;
    transition: 0.33s;
}